{% extends "./padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    <h1>Listado de Blogs</h1>
    <ul>
        {% for blog in blogs %}
            <li>{{ blog.titulo }} / {{ blog.fecha }}
                {% if request.user.is_authenticated %}
                    <a href="{% url 'detalle_blog' blog.id %}">Ver</a>
                    <a href="{% url 'editar_blog' blog.id %}">Editar</a>
                    <a href="{% url 'eliminar_blog' blog.id %}">Eliminar</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'crear_blogs' %}">Agregar Blog</a>
{% endblock contenidoQueCambia %}